body {
  font-family: 'Work Sans', sans-serif;
}

code {
    font-family: monospace;
    font-size: 24px

}

textarea {
  width: 100%;
  height: auto;
  background-color: white;
  color: black !important;
  padding: 0 auto;
  margin: 0 auto;
  font-family: monospace;
  font-size: 24px

}
